# Visit https://github.com/lowlighter/metrics/blob/master/action.yml for full reference
name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{ cron: "0 1 * * 1,5" }]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  #push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@v3.34
        with:
          # Your GitHub token
          # The following scopes are required:
          #  - public_access (default scope)
          # The following additional scopes may be required:
          #  - read:org      (for organization related metrics)
          #  - read:user     (for user related data)
          #  - read:packages (for some packages related data)
          #  - repo          (optional, if you want to include private repositories)
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: redoper1
          template: classic
          base: header, community, repositories, metadata
          config_timezone: Europe/Prague
          config_twemoji: yes

          repositories_affiliations: owner

          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_threshold: 2%
          
          repositories_skipped: upptime-status-page,status-elastic
